<div id="create-poll-component">
    <input #searchBox id="search-box" placeholder="Search for movies..." (input)="search(searchBox.value)" />
    <ul class="movie-list">
      <li class="search-item" *ngFor="let movie of searchMovies">
        <div (click)="addMovie(movie);searchBox.value = ''" class="movie-container">
            <img class="movie-thumbnail" src="{{'https://image.tmdb.org/t/p/w500' + movie.poster_path}}">
            <span>{{ movie.title }}</span>
            <i class="material-icons">add</i>
        </div>
      </li>
    </ul>
    <p id="poll-desc">Movies in your poll:</p>
    

  <ul class="movie-list">
    <li class="movie-item" *ngFor="let movie of movies" >
      <div class="movie-container">
          <img class="movie-thumbnail" src="{{'https://image.tmdb.org/t/p/w500' + movie.poster_path}}">
          <span>{{ movie.title }}</span>
          <i (click)="removeMovie(movie)" class="material-icons">close</i>
      </div>
    </li>
  </ul>

  <button id="save">Save</button>
</div>
 


