@import "../../styles.scss";

#search-box {
    margin-top: 30px;
}

.movie-list{
    //list-style-type: none;
    text-align: center;
    //background-color: white;
}

.movie-item {
    border: 2px solid $accent-grey;
    margin: 15px 0;
}

.movie-thumbnail {
    height: 100%;
    object-fit: contain;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#share {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    // width: 100%;
    // height: 40px;
    // max-width: 700px;
    display: block;
}

.movie-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#poll-desc {
    margin-top: 30px;
}

.search-item {
    cursor: pointer;
}

.search-item:hover {
    background-color: #607D8B;
    color: white;
}