<div class="container">
  <div class="row">
    <div class="col-sm">
      <input #searchBox id="search-box" placeholder="Search for movies..." class="form-control" (input)="search(searchBox.value)"
        (blur)="searchBox.value = '';search('');" />

      <ul class="list-group">
        <li class="list-group-item search-item" *ngFor="let movie of searchMovies">
          <div (click)="addMovie(movie);searchBox.value = ''" class="movie-container">
            <img class="movie-thumbnail" src="{{'https://image.tmdb.org/t/p/w500' + movie.poster_path}}">
            <div class="vertical-center">{{ movie.title }}</div>
            <div class="vertical-center">
              <i class="material-icons">add</i>
            </div>
          </div>
        </li>
      </ul>
      
      <p id="poll-desc">Movies in your poll:</p>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let movie of poll.movies">
          <div class="movie-container">
            <img class="movie-thumbnail" src="{{'https://image.tmdb.org/t/p/w500' + movie.poster_path}}">
            <div class="vertical-center">{{ movie.title }}</div>
            <button class="btn">
                <i (click)="removeMovie(movie)" class="material-icons">close</i>
            </button>
          </div>
        </li>
      </ul>

      <button (click)="open(content)" class="btn btn-primary btn-lg" id="share">Share Poll</button>
      
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Share Your Poll</h4>
          <button class="btn" type="button" aria-label="Close" (click)="modal.dismiss()">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="modal-body">
          <p>Share your poll using this link:</p>
          <a [routerLink]="['/poll', poll._id]" (click)="modal.close()">{{shareUrl}}</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
          <button type="button" class="btn btn-primary" (click)="copyToClipboard(shareUrl);modal.close()">Copy to clipboard</button>
        </div>
      </ng-template>
      
    </div>
  </div>
</div>