/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import "~bootstrap/dist/css/bootstrap.css";


$primary-blue: #15bfde;
$accent-grey: #707070;

body {
    padding-top: 70px;
    //background-color: #e8e8e8;
}