/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';


$font-stack: 'Roboto', Arial, sans-serif;
$primary-blue: #15BFDE;

* {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

p {
    line-height: 25px;
    padding: 5px;
}

button {
    border: 2px solid #707070;
    color: #707070;
    background-color: white;
    padding: 5px;
    font-size: 1em;
}