/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import "~bootstrap/dist/css/bootstrap.css";


$font-stack: 'Roboto', Arial, sans-serif;
$primary-blue: #15BFDE;
$accent-grey: #707070;

* {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    background-color: #e8e8e8;
}

p {
    line-height: 25px;
    padding: 5px;
}

button, input {
    border: 2px solid $accent-grey;
    color: $accent-grey;
    background-color: white;
    padding: 5px;
    font-size: 1em;
    cursor: pointer;
}