<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <h1 >Welcome to PickAMovieAlready!</h1>
        <p class="lead">
          PickAMovieAlready allows you to quickly and easily 
          create polls to choose a movie to watch with friends.
          No more wasting time figuring out what movie each 
          individual person wants to watch!
        </p>
        <hr class="my-4">
        <p>Get started by creating a new movie poll!</p>
        <button class="btn btn-primary btn-lg" (click)="createPoll()">Create new poll</button>
        <p *ngIf="buttonClicked">Button was clicked</p>
        <p>{{apiMessage}}</p>
      </div>
    </div>
  </div>
</div>